:root {
  --button-display: inline;
  --button-border: 1px solid #000000;
  --button-background: #f1f1f1;
  --button-border-radius: 6px;
}

.button {
  display: var(--button-display);
  border: var(--button-border);
  background: var(--button-background);
  border-radius: var(--button-border-radius);
}

@mixin button($background, $border-radius, $border, $display: inline) {
  & {
    --button-display: $display;
    --button-border: $border;
    --button-background: $background;
    --button-border-radius: $border-radius;
  }
}
